        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #E85856;
        }
          li {
            float: left;
            } 
            li a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }
  body {
    border-style: solid;
    border-width: 2px;
    border-color: #630907;
  }
  section {
    border-style: solid;
    border-width: 2px;
    border-color: #E85856;
    margin: 3px;
    padding: 3px;

    left: 30px;
    top: 30px;
  }